In [824]:
from pathlib import Path
import pandas as pd
import numpy as np

# Prompt results

## Generated stats

In [825]:
l_generated_files = ["/home/pcallec/smoking_cessation_messages/results/vB/v2/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/gptj6b_generated_to_sentences/prompt_input_v2_train_gen_gpt-j-6B_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/gptj6b_generated_to_sentences/prompt_input_v3_train_gen_gpt-j-6B_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/gptj6b_generated_to_sentences/prompt_input_v4_train_gen_gpt-j-6B_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/gptj6b_generated_to_sentences/prompt_input_v5_train_gen_gpt-j-6B_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/bloom-7b1_generated_to_sentences/prompt_input_v2_train_gen_bloom-7b1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/bloom-7b1_generated_to_sentences/prompt_input_v3_train_gen_bloom-7b1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/bloom-7b1_generated_to_sentences/prompt_input_v4_train_gen_bloom-7b1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/bloom-7b1_generated_to_sentences/prompt_input_v5_train_gen_bloom-7b1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-6.7b_generated_to_sentences/prompt_input_v2_train_gen_opt-6.7b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-6.7b_generated_to_sentences/prompt_input_v3_train_gen_opt-6.7b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-6.7b_generated_to_sentences/prompt_input_v4_train_gen_opt-6.7b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-6.7b_generated_to_sentences/prompt_input_v5_train_gen_opt-6.7b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-13b_generated_to_sentences/prompt_input_v2_train_gen_opt-13b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-13b_generated_to_sentences/prompt_input_v3_train_gen_opt-13b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-13b_generated_to_sentences/prompt_input_v4_train_gen_opt-13b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-13b_generated_to_sentences/prompt_input_v5_train_gen_opt-13b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-30b_generated_to_sentences/prompt_input_v2_train_gen_opt-30b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-30b_generated_to_sentences/prompt_input_v3_train_gen_opt-30b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-30b_generated_to_sentences/prompt_input_v4_train_gen_opt-30b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-30b_generated_to_sentences/prompt_input_v5_train_gen_opt-30b_to_sentences.csv"]

In [826]:
l_columns = ["prompt_version", "model",
                "Message", "index_prompt", "message_position"]

df_all_messages = pd.DataFrame(columns=l_columns)

for pathfile in l_generated_files:
    path_temp = Path(pathfile)
    name_temp = path_temp.name
    prompt_version = name_temp.split("_")[2]
    model = name_temp.split("_")[5]
    
    df_temp = pd.read_csv(pathfile, index_col=0)
      
    df_temp.insert(0, "prompt_version", prompt_version)
    df_temp.insert(1, "model", model)   
    
    df_all_messages = pd.concat([df_all_messages, df_temp], ignore_index=True)

In [827]:
df_all_messages.head()

,prompt_version,model,Message,index_prompt,message_position
0,v1,gpt-j-6B,Don’t be afraid to reach out to a friend or fa...,0,0
1,v1,gpt-j-6B,"Take care of yourself! Eat healthy, get plenty...",0,1
2,v1,gpt-j-6B,Try to keep your environment smoke free.,0,2
3,v1,gpt-j-6B,Make an appointment with a local physician or ...,0,3
4,v1,gpt-j-6B,Keep a positive attitude! Remember that you ha...,0,4

In [828]:
df_all_messages["model"].unique()

array(['gpt-j-6B', 'bloom-7b1', 'opt-6.7b', 'opt-13b', 'opt-30b'],
      dtype=object)

In [829]:
df_all_messages["model"].unique

<bound method Series.unique of 0        gpt-j-6B
1        gpt-j-6B
2        gpt-j-6B
3        gpt-j-6B
4        gpt-j-6B
           ...
21724     opt-30b
21725     opt-30b
21726     opt-30b
21727     opt-30b
21728     opt-30b
Name: model, Length: 21729, dtype: object>

In [830]:
df_messages_count = df_all_messages.groupby(["prompt_version", "model", "index_prompt"]).count()
df_messages_count.head()

                                       Message  message_position
prompt_version model     index_prompt
v1             bloom-7b1 1                   4                 4
                         2                   3                 3
                         3                   7                 7
                         5                   7                 7
                         6                   3                 3

In [831]:
df_messages_count.reset_index(inplace=True, drop=False)

In [832]:
df_messages_count

     prompt_version      model  index_prompt  Message  message_position
0                v1  bloom-7b1             1        4                 4
1                v1  bloom-7b1             2        3                 3
2                v1  bloom-7b1             3        7                 7
3                v1  bloom-7b1             5        7                 7
4                v1  bloom-7b1             6        3                 3
...             ...        ...           ...      ...               ...
2368             v5   opt-6.7b            95       12                12
2369             v5   opt-6.7b            96        2                 2
2370             v5   opt-6.7b            97        4                 4
2371             v5   opt-6.7b            98       14                14
2372             v5   opt-6.7b            99        2                 2

[2373 rows x 5 columns]

In [833]:
df_messages_count_subset = df_messages_count[["prompt_version", "model",
                                              "index_prompt", "Message"]]

In [834]:
df_messages_count_subset = df_messages_count_subset.rename(columns={"Message": "n_messages"})
df_messages_count_subset

     prompt_version      model  index_prompt  n_messages
0                v1  bloom-7b1             1           4
1                v1  bloom-7b1             2           3
2                v1  bloom-7b1             3           7
3                v1  bloom-7b1             5           7
4                v1  bloom-7b1             6           3
...             ...        ...           ...         ...
2368             v5   opt-6.7b            95          12
2369             v5   opt-6.7b            96           2
2370             v5   opt-6.7b            97           4
2371             v5   opt-6.7b            98          14
2372             v5   opt-6.7b            99           2

[2373 rows x 4 columns]

In [835]:
df_messages_count_subset.head()

  prompt_version      model  index_prompt  n_messages
0             v1  bloom-7b1             1           4
1             v1  bloom-7b1             2           3
2             v1  bloom-7b1             3           7
3             v1  bloom-7b1             5           7
4             v1  bloom-7b1             6           3

In [836]:
df_messages_count_subset.tail()

     prompt_version     model  index_prompt  n_messages
2368             v5  opt-6.7b            95          12
2369             v5  opt-6.7b            96           2
2370             v5  opt-6.7b            97           4
2371             v5  opt-6.7b            98          14
2372             v5  opt-6.7b            99           2

In [837]:
["v1"]*5+["v2"]*5

['v1', 'v1', 'v1', 'v1', 'v1', 'v2', 'v2', 'v2', 'v2', 'v2']

In [838]:
l_versions = ["v1","v2"]

l_versions_df = []

for i in l_versions:
   l_versions_df.extend([i]*10)

In [839]:
l_versions_df

['v1',
 'v1',
 'v1',
 'v1',
 'v1',
 'v1',
 'v1',
 'v1',
 'v1',
 'v1',
 'v2',
 'v2',
 'v2',
 'v2',
 'v2',
 'v2',
 'v2',
 'v2',
 'v2',
 'v2']

In [840]:
l_versions_df

['v1',
 'v1',
 'v1',
 'v1',
 'v1',
 'v1',
 'v1',
 'v1',
 'v1',
 'v1',
 'v2',
 'v2',
 'v2',
 'v2',
 'v2',
 'v2',
 'v2',
 'v2',
 'v2',
 'v2']

In [841]:
# Create empy dataframe
# Create empy dataframe
N_PROMPTS = 5
N_MODELS = 5
N_INDICES = 100
INITAL_N_MESSAGES = 0

l_versions = ["v1","v2","v3","v4","v5"]
l_versions_df = []

for version in l_versions:
   l_versions_df.extend([version]*N_MODELS*N_INDICES)

l_models = ['gpt-j-6B', 'bloom-7b1', 'opt-6.7b', 'opt-13b', 'opt-30b']

l_models_df = []
for i in range(N_PROMPTS):
   l_model_temp = []
   for model in l_models:
      l_model_temp.extend([model]*N_INDICES)
      
   l_models_df.extend(l_model_temp)

l_indices_df = []
for version in l_versions:
   for model in l_models:
      l_indices_df.extend(np.arange(N_INDICES))

l_n_messages = [0]*N_PROMPTS*N_MODELS*N_INDICES

data = {'prompt_version' : l_versions_df, 
        'model': l_models_df,
        'index_prompt': l_indices_df,
        "n_messages": l_n_messages}
df_prompt_blank = pd.DataFrame(data)
# df.index = df["index_prompt"]
df_prompt_blank = df_prompt_blank.set_index("index_prompt")

In [842]:
df_prompt_blank.head()

             prompt_version     model  n_messages
index_prompt
0                        v1  gpt-j-6B           0
1                        v1  gpt-j-6B           0
2                        v1  gpt-j-6B           0
3                        v1  gpt-j-6B           0
4                        v1  gpt-j-6B           0

In [843]:
df_messages_count_subset_filled = df_messages_count_subset.merge(df_prompt_blank, left_on=["prompt_version","model","index_prompt"],
                                                                right_on=["prompt_version","model","index_prompt"],
                                                                suffixes=('', '_right'), how="outer")
df_messages_count_subset_filled

     prompt_version      model  index_prompt  n_messages  n_messages_right
0                v1  bloom-7b1             1         4.0                 0
1                v1  bloom-7b1             2         3.0                 0
2                v1  bloom-7b1             3         7.0                 0
3                v1  bloom-7b1             5         7.0                 0
4                v1  bloom-7b1             6         3.0                 0
...             ...        ...           ...         ...               ...
2495             v5    opt-30b            23         NaN                 0
2496             v5    opt-30b            60         NaN                 0
2497             v5    opt-30b            64         NaN                 0
2498             v5    opt-30b            67         NaN                 0
2499             v5    opt-30b            99         NaN                 0

[2500 rows x 5 columns]

In [844]:
df_messages_count_subset_filled = df_messages_count_subset_filled.drop(columns = "n_messages_right")
df_messages_count_subset_filled.head()

  prompt_version      model  index_prompt  n_messages
0             v1  bloom-7b1             1         4.0
1             v1  bloom-7b1             2         3.0
2             v1  bloom-7b1             3         7.0
3             v1  bloom-7b1             5         7.0
4             v1  bloom-7b1             6         3.0

In [845]:
df_messages_count_subset_filled = df_messages_count_subset_filled.fillna(value={"n_messages": 0})
df_messages_count_subset_filled.head()

  prompt_version      model  index_prompt  n_messages
0             v1  bloom-7b1             1         4.0
1             v1  bloom-7b1             2         3.0
2             v1  bloom-7b1             3         7.0
3             v1  bloom-7b1             5         7.0
4             v1  bloom-7b1             6         3.0

In [846]:
df_prompt_mean = df_messages_count_subset_filled.groupby("prompt_version").mean()
df_prompt_mean

                index_prompt  n_messages
prompt_version
v1                      49.5       7.392
v2                      49.5       7.542
v3                      49.5       8.034
v4                      49.5      13.760
v5                      49.5       6.730

In [847]:
df_prompt_mean

                index_prompt  n_messages
prompt_version
v1                      49.5       7.392
v2                      49.5       7.542
v3                      49.5       8.034
v4                      49.5      13.760
v5                      49.5       6.730

In [848]:
df_prompt_mean = df_prompt_mean.drop(columns = "index_prompt")
df_prompt_mean = df_prompt_mean.rename(columns = {"n_messages":"n_messages_mean"})
df_prompt_mean

                n_messages_mean
prompt_version
v1                        7.392
v2                        7.542
v3                        8.034
v4                       13.760
v5                        6.730

In [710]:
df_prompt_std = df_messages_count_subset_filled.groupby("prompt_version").std()
df_prompt_std

                index_prompt  n_messages
prompt_version
v1                 28.894979    5.219658
v2                 28.894979    4.730856
v3                 28.894979    5.034634
v4                 28.894979    7.832055
v5                 28.894979    4.502627

In [849]:
df_prompt_std = df_prompt_std.drop(columns = "index_prompt")
df_prompt_std = df_prompt_std.rename(columns = {"n_messages":"n_messages_std"})
df_prompt_std

                n_messages_std
prompt_version
v1                    5.219658
v2                    4.730856
v3                    5.034634
v4                    7.832055
v5                    4.502627

In [711]:
df_prompt_std_err = df_messages_count_subset_filled.groupby("prompt_version").std()/(N_MODELS*N_INDICES)**0.5
df_prompt_std_err

                index_prompt  n_messages
prompt_version
v1                  1.292223    0.233430
v2                  1.292223    0.211570
v3                  1.292223    0.225156
v4                  1.292223    0.350260
v5                  1.292223    0.201364

In [850]:
df_prompt_std_err = df_prompt_std_err.drop(columns = "index_prompt")
df_prompt_std_err = df_prompt_std_err.rename(columns = {"n_messages":"n_messages_std_err"})
df_prompt_std_err

                n_messages_std_err
prompt_version
v1                        0.233430
v2                        0.211570
v3                        0.225156
v4                        0.350260
v5                        0.201364

In [857]:
df_prompt_all = pd.concat([df_prompt_mean, df_prompt_std, df_prompt_std_err], axis = 1)
df_prompt_all

                n_messages_mean  n_messages_std  n_messages_std_err
prompt_version
v1                        7.392        5.219658            0.233430
v2                        7.542        4.730856            0.211570
v3                        8.034        5.034634            0.225156
v4                       13.760        7.832055            0.350260
v5                        6.730        4.502627            0.201364

In [861]:
df_prompt_all["mean_over_std"] = df_prompt_all.eval("n_messages_mean/n_messages_std")

In [862]:
df_prompt_all

,n_messages_mean,n_messages_std,n_messages_std_err,mean_over_std
prompt_version,,,,
v1,7.392,5.219658,0.233430,1.416185
v2,7.542,4.730856,0.211570,1.594215
v3,8.034,5.034634,0.225156,1.595747
v4,13.760,7.832055,0.350260,1.756883
v5,6.730,4.502627,0.201364,1.494683

In [627]:
len(l_n_messages)

2500

In [ ]:
df_std_err = df_messages_count_subset.groupby("prompt_version").std()/df_messages_count_subset.groupby("prompt_version").count()[["Message"]]**0.5

In [621]:
l_models_df

['gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'gpt-j-6B',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'bloom-7b1',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-6.7b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-13b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 'opt-30b',
 ...]

In [ ]:
df_messages_count_subset

In [553]:
df_prompt_stats = df_messages_count_subset.groupby("prompt_version").mean()
df_prompt_stats

                  Message
prompt_version
v1               8.140969
v2               7.872651
v3               8.439076
v4              13.815261
v5               7.221030

In [554]:
df_prompt_stats = df_prompt_stats.rename(columns = {"Message": "avg_n_messages"})
df_prompt_stats

                avg_n_messages
prompt_version
v1                    8.140969
v2                    7.872651
v3                    8.439076
v4                   13.815261
v5                    7.221030

In [555]:
df_prompt_stats.index

Index(['v1', 'v2', 'v3', 'v4', 'v5'], dtype='object', name='prompt_version')

In [556]:
df_prompt_stats.columns

Index(['avg_n_messages'], dtype='object')

In [557]:
df_messages_count_subset.groupby("prompt_version").std()

                 Message
prompt_version
v1              4.888825
v2              4.555844
v3              4.816907
v4              7.798907
v5              4.266457

In [558]:
df_messages_count_subset.groupby("prompt_version").count()[["Message"]]

                Message
prompt_version
v1                  454
v2                  479
v3                  476
v4                  498
v5                  466

In [559]:
df_std_dev = df_messages_count_subset.groupby("prompt_version").std()
df_std_dev

                 Message
prompt_version
v1              4.888825
v2              4.555844
v3              4.816907
v4              7.798907
v5              4.266457

In [560]:
df_std_dev

                 Message
prompt_version
v1              4.888825
v2              4.555844
v3              4.816907
v4              7.798907
v5              4.266457

In [561]:
df_std_err = df_messages_count_subset.groupby("prompt_version").std()/df_messages_count_subset.groupby("prompt_version").count()[["Message"]]**0.5
df_std_err

                 Message
prompt_version
v1              0.229444
v2              0.208162
v3              0.220783
v4              0.349477
v5              0.197640

In [562]:
df_prompt_stats["std_dev"] = df_std_dev["Message"]
df_prompt_stats["std_err"] = df_std_err["Message"]

In [563]:
df_prompt_stats

                avg_n_messages   std_dev   std_err
prompt_version
v1                    8.140969  4.888825  0.229444
v2                    7.872651  4.555844  0.208162
v3                    8.439076  4.816907  0.220783
v4                   13.815261  7.798907  0.349477
v5                    7.221030  4.266457  0.197640

In [564]:
df_prompt_stats["mean/std_dev"] = df_prompt_stats["avg_n_messages"]/df_prompt_stats["std_dev"]

In [565]:
df_prompt_stats

                avg_n_messages   std_dev   std_err  mean/std_dev
prompt_version
v1                    8.140969  4.888825  0.229444      1.665220
v2                    7.872651  4.555844  0.208162      1.728034
v3                    8.439076  4.816907  0.220783      1.751970
v4                   13.815261  7.798907  0.349477      1.771436
v5                    7.221030  4.266457  0.197640      1.692512

In [566]:
df_prompt_stats.to_csv("/home/pcallec/smoking_cessation_messages/results/vB/v2/stats_generated_messages/stats_generated_messages.csv")

## Criteria stats

In [567]:
l_criteria_files = ["/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_gpt-j-6B_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v2_train_gen_gpt-j-6B_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v3_train_gen_gpt-j-6B_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v4_train_gen_gpt-j-6B_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v5_train_gen_gpt-j-6B_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_bloom-7b1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v2_train_gen_bloom-7b1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v3_train_gen_bloom-7b1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v4_train_gen_bloom-7b1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v5_train_gen_bloom-7b1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v2_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v3_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v4_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v2_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v3_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v4_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_opt-13b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v2_train_gen_opt-13b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v3_train_gen_opt-13b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v4_train_gen_opt-13b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v5_train_gen_opt-13b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_opt-30b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v2_train_gen_opt-30b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v3_train_gen_opt-30b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v4_train_gen_opt-30b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v5_train_gen_opt-30b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv"]

In [568]:
df_initial_temp = pd.read_csv("/home/pcallec/smoking_cessation_messages/results/vB/v2/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_to_sentences.csv", index_col=0)

In [569]:
df_prompt_initial = df_initial_temp.groupby(["index_prompt"]).count()
df_prompt_initial.head()

              Message  message_position
index_prompt
0                  11                11
1                  13                13
2                  10                10
3                  24                24
4                  14                14

In [570]:
df_prompt_initial = df_prompt_initial.drop(columns=["message_position"])
df_prompt_initial.head()

              Message
index_prompt
0                  11
1                  13
2                  10
3                  24
4                  14

In [571]:
df_prompt_initial = df_prompt_initial.rename(columns={"Message": "Initial_n_messages"})

In [572]:
df_criteria_temp = pd.read_csv("/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_gpt-j-6B_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv", index_col=0)

In [573]:
df_criteria_temp_count = df_criteria_temp.groupby(["index_prompt"]).count()
df_criteria_temp_count.head()

,Message,message_position,selfBLEU4,app,underscore,less_than_six_words
index_prompt,,,,,,
0,9,9,9,9,9,9
1,11,11,11,11,11,11
2,7,7,7,7,7,7
3,6,6,6,6,6,6
4,13,13,13,13,13,13

In [574]:
# Create empy dataframe

data = {'index_prompt'   : np.arange(100), 
        'Initial_n_messages': [0]*100}
df_prompt_blank = pd.DataFrame(data)
# df.index = df["index_prompt"]
df_prompt_blank = df_prompt_blank.set_index("index_prompt")

In [575]:
df_prompt_blank

              Initial_n_messages
index_prompt
0                              0
1                              0
2                              0
3                              0
4                              0
...                          ...
95                             0
96                             0
97                             0
98                             0
99                             0

[100 rows x 1 columns]

In [576]:
df_prompt_initial.head()

              Initial_n_messages
index_prompt
0                             11
1                             13
2                             10
3                             24
4                             14

In [577]:
df_prompt_blank.head()

              Initial_n_messages
index_prompt
0                              0
1                              0
2                              0
3                              0
4                              0

In [578]:
df_prompt_initial_filled = df_prompt_initial.merge(df_prompt_blank, left_on='index_prompt', right_on='index_prompt',
                        suffixes=('', '_right'), how="outer")
df_prompt_initial_filled.head()

              Initial_n_messages  Initial_n_messages_right
index_prompt
0                           11.0                         0
1                           13.0                         0
2                           10.0                         0
3                           24.0                         0
4                           14.0                         0

In [579]:
df_prompt_initial_filled = df_prompt_initial_filled.drop(columns = ["Initial_n_messages_right"])
df_prompt_initial_filled

              Initial_n_messages
index_prompt
0                           11.0
1                           13.0
2                           10.0
3                           24.0
4                           14.0
...                          ...
99                           8.0
31                           NaN
36                           NaN
39                           NaN
58                           NaN

[100 rows x 1 columns]

In [580]:
df_prompt_initial_filled = df_prompt_initial_filled.sort_index()
df_prompt_initial_filled

              Initial_n_messages
index_prompt
0                           11.0
1                           13.0
2                           10.0
3                           24.0
4                           14.0
...                          ...
95                           6.0
96                           6.0
97                           5.0
98                           9.0
99                           8.0

[100 rows x 1 columns]

In [581]:
df_prompt_initial_filled.loc[31]

Initial_n_messages   NaN
Name: 31, dtype: float64

In [582]:
df_prompt_initial_filled = df_prompt_initial_filled.fillna(value={"Initial_n_messages": 0})
df_prompt_initial_filled

              Initial_n_messages
index_prompt
0                           11.0
1                           13.0
2                           10.0
3                           24.0
4                           14.0
...                          ...
95                           6.0
96                           6.0
97                           5.0
98                           9.0
99                           8.0

[100 rows x 1 columns]

In [583]:
df_prompt_initial_filled.loc[31]

Initial_n_messages    0.0
Name: 31, dtype: float64

In [584]:
def pandas_fill_empty(df_to_fill, n_rows, index_column_name,
                      property_column_name):
    # Create empty dataframe

    data = {index_column_name : np.arange( n_rows), 
            property_column_name: [0]* n_rows}
    df_temp_blank = pd.DataFrame(data)
    df_temp_blank = df_temp_blank.set_index(index_column_name)
    
    
    df_to_fill_filled = df_to_fill.merge(df_temp_blank, left_on=index_column_name, right_on=index_column_name,
                        suffixes=('', '_right'), how="outer")   
    df_to_fill_filled = df_to_fill_filled.drop(columns = [f"{property_column_name}_right"])
    df_to_fill_filled = df_to_fill_filled.sort_index()
    
    df_to_fill_filled = df_to_fill_filled.fillna(value={index_column_name: 0})

    return df_to_fill_filled

In [585]:
df_prompt_initial

              Initial_n_messages
index_prompt
0                             11
1                             13
2                             10
3                             24
4                             14
...                          ...
95                             6
96                             6
97                             5
98                             9
99                             8

[96 rows x 1 columns]

In [586]:
pandas_fill_empty(df_prompt_initial, 100,
                  "index_prompt", "Initial_n_messages")

              Initial_n_messages
index_prompt
0                           11.0
1                           13.0
2                           10.0
3                           24.0
4                           14.0
...                          ...
95                           6.0
96                           6.0
97                           5.0
98                           9.0
99                           8.0

[100 rows x 1 columns]

In [587]:
df_criteria_temp = pd.read_csv("/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_gpt-j-6B_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv", index_col=0)

df_criteria_temp_count = df_criteria_temp.groupby(["index_prompt"]).count()
df_criteria_temp_count.head()

,Message,message_position,selfBLEU4,app,underscore,less_than_six_words
index_prompt,,,,,,
0,9,9,9,9,9,9
1,11,11,11,11,11,11
2,7,7,7,7,7,7
3,6,6,6,6,6,6
4,13,13,13,13,13,13

In [588]:
df_criteria_temp_count = df_criteria_temp_count[["Message"]]
df_criteria_temp_count.head()

              Message
index_prompt
0                   9
1                  11
2                   7
3                   6
4                  13

In [590]:
df_criteria_temp_count = df_criteria_temp_count.rename(columns = {"Message": "filter_n_messages"})
df_criteria_temp_count.head()

              filter_n_messages
index_prompt
0                             9
1                            11
2                             7
3                             6
4                            13

In [593]:
df_criteria_temp_count_filled = pandas_fill_empty(df_criteria_temp_count, 100,
                  "index_prompt", "filter_n_messages")
df_criteria_temp_count_filled.head()

              filter_n_messages
index_prompt
0                           9.0
1                          11.0
2                           7.0
3                           6.0
4                          13.0

In [494]:
df_criteria_temp

,Message,index_prompt,message_position,selfBLEU4,app,underscore,less_than_six_words
0,Don’t be afraid to reach out to a friend or fa...,0,0,0.076924,False,False,False
1,"Take care of yourself! Eat healthy, get plenty...",0,1,0.048415,False,False,False
2,Try to keep your environment smoke free.,0,2,0.041535,False,False,False
3,Make an appointment with a local physician or ...,0,3,0.022417,False,False,False
4,Keep a positive attitude! Remember that you ha...,0,4,0.016196,False,False,False
...,...,...,...,...,...,...,...
680,"If you do decide to smoke, try to make it a “s...",99,1,0.020866,False,False,False
681,If you are worried about how your friends and ...,99,2,0.206757,False,False,False
682,Smoking is a cheap vice. If you are having tro...,99,5,0.058001,False,False,False
683,"If you are planning to quit smoking, make sure...",99,6,0.079971,False,False,False
684,The first week of your quit smoking is the har...,99,7,0.053025,False,False,False

# Decoding

In [44]:
l_generated_files = ["/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v2_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v3_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v4_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v5_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v6_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v7_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v8_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v2_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v3_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v4_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v5_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v6_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v7_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v8_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v2_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v3_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v4_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v5_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v6_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v7_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v8_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v2_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v3_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v4_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v5_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v6_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v7_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v8_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v2_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v3_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v4_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v5_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v6_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v7_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v8_to_sentences.csv"]

In [21]:
l_columns = ["decoding_version", "model",
                "Message", "index_prompt", "message_position"]

df_all_messages = pd.DataFrame(columns=l_columns)

for pathfile in l_generated_files:
    path_temp = Path(pathfile)
    name_temp = path_temp.name
    decoding_version = name_temp.split("_")[7]
    model = name_temp.split("_")[5]
    
    df_temp = pd.read_csv(pathfile, index_col=0)
      
    df_temp.insert(0, "decoding_version", decoding_version)
    df_temp.insert(1, "model", model)   
    
    df_all_messages = pd.concat([df_all_messages, df_temp], ignore_index=True)

In [22]:
df_all_messages.head()

,decoding_version,model,Message,index_prompt,message_position
0,v1,gpt-j-6B,A positive attitude and determination will hel...,0,0
1,v1,gpt-j-6B,It is very easy to slip up when you are not on...,0,1
2,v1,gpt-j-6B,You may still find yourself wondering why you ...,0,2
3,v1,gpt-j-6B,Make a plan for your future. How will you feel...,0,3
4,v1,gpt-j-6B,A smoke free lifestyle is important to the peo...,0,4

In [23]:
df_messages_count = df_all_messages.groupby(["decoding_version", "model", "index_prompt"]).count()
df_messages_count.head()

                                         Message  message_position
decoding_version model     index_prompt
v1               bloom-7b1 0                   3                 3
                           1                   1                 1
                           2                   5                 5
                           3                   7                 7
                           4                   7                 7

In [24]:
df_messages_count.reset_index(inplace=True, drop=False)

In [25]:
df_messages_count

     decoding_version      model  index_prompt  Message  message_position
0                  v1  bloom-7b1             0        3                 3
1                  v1  bloom-7b1             1        1                 1
2                  v1  bloom-7b1             2        5                 5
3                  v1  bloom-7b1             3        7                 7
4                  v1  bloom-7b1             4        7                 7
...               ...        ...           ...      ...               ...
3387               v8   opt-6.7b            94        3                 3
3388               v8   opt-6.7b            95        8                 8
3389               v8   opt-6.7b            97        7                 7
3390               v8   opt-6.7b            98        7                 7
3391               v8   opt-6.7b            99       14                14

[3392 rows x 5 columns]

In [26]:
df_messages_count_subset = df_messages_count[["decoding_version", "model",
                                                                "Message"]]
df_messages_count_subset.head()

  decoding_version      model  Message
0               v1  bloom-7b1        3
1               v1  bloom-7b1        1
2               v1  bloom-7b1        5
3               v1  bloom-7b1        7
4               v1  bloom-7b1        7

In [27]:
df_decoding_stats = df_messages_count_subset.groupby("decoding_version").mean()
df_decoding_stats

                   Message
decoding_version
v1                7.663793
v2                4.389873
v3                3.730366
v4                4.497596
v5                7.174946
v6                4.107579
v7                4.387409
v8                7.402222

In [28]:
df_decoding_stats = df_decoding_stats.rename(columns = {"Message": "avg_n_messages"})
df_decoding_stats

                  avg_n_messages
decoding_version
v1                      7.663793
v2                      4.389873
v3                      3.730366
v4                      4.497596
v5                      7.174946
v6                      4.107579
v7                      4.387409
v8                      7.402222

In [29]:
df_decoding_stats.index

Index(['v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8'], dtype='object', name='decoding_version')

In [30]:
df_decoding_stats.columns

Index(['avg_n_messages'], dtype='object')

In [31]:
df_messages_count_subset.groupby("decoding_version").std()

                   Message
decoding_version
v1                4.256757
v2                2.454644
v3                2.197128
v4                2.753310
v5                4.305646
v6                2.593953
v7                2.834434
v8                4.505922

In [32]:
df_messages_count_subset.groupby("decoding_version").count()

                  model  Message
decoding_version
v1                  464      464
v2                  395      395
v3                  382      382
v4                  416      416
v5                  463      463
v6                  409      409
v7                  413      413
v8                  450      450

In [33]:
df_messages_count_subset.groupby("decoding_version").count()[["Message"]]

                  Message
decoding_version
v1                    464
v2                    395
v3                    382
v4                    416
v5                    463
v6                    409
v7                    413
v8                    450

In [34]:
df_std_err = df_messages_count_subset.groupby("decoding_version").std()/df_messages_count_subset.groupby("decoding_version").count()[["Message"]]**0.5
df_std_err

                   Message
decoding_version
v1                0.197615
v2                0.123507
v3                0.112415
v4                0.134992
v5                0.200100
v6                0.128263
v7                0.139473
v8                0.212411

In [35]:
df_decoding_stats["std_err"] = df_std_err["Message"]

In [36]:
df_decoding_stats

                  avg_n_messages   std_err
decoding_version
v1                      7.663793  0.197615
v2                      4.389873  0.123507
v3                      3.730366  0.112415
v4                      4.497596  0.134992
v5                      7.174946  0.200100
v6                      4.107579  0.128263
v7                      4.387409  0.139473
v8                      7.402222  0.212411

In [37]:
df_decoding_stats.to_csv("/home/pcallec/smoking_cessation_messages/results/vC/stats_generated_messages/stats_generated_messages.csv")

# Prompt selection ChatGPT

In [38]:
l_generated_files = ["/home/pcallec/smoking_cessation_messages/results/ChatGPT/generated_to_sentences_several/prompt_input_v1_train_gen_ChatGPT_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/ChatGPT/generated_to_sentences_several/prompt_input_v2_train_gen_ChatGPT_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/ChatGPT/generated_to_sentences_several/prompt_input_v3_train_gen_ChatGPT_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/ChatGPT/generated_to_sentences_several/prompt_input_v4_train_gen_ChatGPT_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/ChatGPT/generated_to_sentences_several/prompt_input_v5_train_gen_ChatGPT_to_sentences.csv"]

In [39]:
l_columns = ["prompt_version", "Message",
             "index_prompt", "message_position"]

df_all_messages = pd.DataFrame(columns=l_columns)

for pathfile in l_generated_files:
    path_temp = Path(pathfile)
    name_temp = path_temp.name
    prompt_version = name_temp.split("_")[2]
    
    df_temp = pd.read_csv(pathfile, index_col=0)     
    df_temp.insert(0, "prompt_version", prompt_version)
    
    df_all_messages = pd.concat([df_all_messages, df_temp], ignore_index=True)

In [40]:
df_all_messages.head()

,prompt_version,Message,index_prompt,message_position
0,v1,Celebrate your milestones! Every day without s...,0,0
1,v1,Find healthier alternatives to cope with stres...,0,1
2,v1,Surround yourself with a supportive network. L...,0,2
3,v1,Consider joining a support group or seeking pr...,0,3
4,v1,Stay committed to your decision to quit smokin...,0,4

In [41]:
df_messages_count = df_all_messages.groupby(["prompt_version","index_prompt"]).count()
df_messages_count.head()

                             Message  message_position
prompt_version index_prompt
v1             0                   5                 5
               1                   1                 1
               2                  10                10
               3                   8                 8
               4                   9                 9

In [42]:
df_messages_count.reset_index(inplace=True, drop=False)

In [43]:
df_messages_count.head()

  prompt_version  index_prompt  Message  message_position
0             v1             0        5                 5
1             v1             1        1                 1
2             v1             2       10                10
3             v1             3        8                 8
4             v1             4        9                 9

In [44]:
df_messages_count = df_messages_count[["prompt_version","index_prompt","Message"]].rename(columns = {"Message": "avg_n_messages"})
df_messages_count

   prompt_version  index_prompt  avg_n_messages
0              v1             0               5
1              v1             1               1
2              v1             2              10
3              v1             3               8
4              v1             4               9
..            ...           ...             ...
95             v5            15               1
96             v5            16               1
97             v5            17               1
98             v5            18               1
99             v5            19               1

[100 rows x 3 columns]

In [45]:
df_prompts_ChatGPT_mean = df_messages_count.groupby("prompt_version").mean()
df_prompts_ChatGPT_mean.head()

                index_prompt  avg_n_messages
prompt_version
v1                       9.5            3.50
v2                       9.5            9.55
v3                       9.5           10.85
v4                       9.5            4.35
v5                       9.5            1.00

In [46]:
df_prompts_ChatGPT_mean = df_prompts_ChatGPT_mean[["avg_n_messages"]]
df_prompts_ChatGPT_mean.head()

                avg_n_messages
prompt_version
v1                        3.50
v2                        9.55
v3                       10.85
v4                        4.35
v5                        1.00

In [47]:
df_messages_count.groupby("prompt_version").count()

                index_prompt  avg_n_messages
prompt_version
v1                        20              20
v2                        20              20
v3                        20              20
v4                        20              20
v5                        20              20

In [48]:
df_prompts_ChatGPT_stats_stderr = df_messages_count.groupby("prompt_version").std()/df_messages_count.groupby("prompt_version").count()[["avg_n_messages"]]**0.5

In [49]:
df_prompts_ChatGPT_stats_stderr = df_prompts_ChatGPT_stats_stderr[["avg_n_messages"]]

In [50]:
df_prompts_ChatGPT_stats_stderr.head()

                avg_n_messages
prompt_version
v1                    0.745160
v2                    0.587031
v3                    0.493511
v4                    0.350000
v5                    0.000000

In [51]:
df_prompts_ChatGPT_stats = df_prompts_ChatGPT_mean.copy()
df_prompts_ChatGPT_stats["std_err"] = df_prompts_ChatGPT_stats_stderr["avg_n_messages"]

In [52]:
df_prompts_ChatGPT_stats

                avg_n_messages   std_err
prompt_version
v1                        3.50  0.745160
v2                        9.55  0.587031
v3                       10.85  0.493511
v4                        4.35  0.350000
v5                        1.00  0.000000

In [53]:
df_prompts_ChatGPT_stats.to_csv("/home/pcallec/smoking_cessation_messages/results/ChatGPT/comparison_prompt_versions/stats_generated_messages/stats_generated_messages.csv")