In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

# Prompt results

## Generated stats

In [2]:
l_generated_files = ["/home/pcallec/smoking_cessation_messages/results/vB/v2/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/gptj6b_generated_to_sentences/prompt_input_v2_train_gen_gpt-j-6B_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/gptj6b_generated_to_sentences/prompt_input_v3_train_gen_gpt-j-6B_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/gptj6b_generated_to_sentences/prompt_input_v4_train_gen_gpt-j-6B_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/gptj6b_generated_to_sentences/prompt_input_v5_train_gen_gpt-j-6B_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/bloom-7b1_generated_to_sentences/prompt_input_v2_train_gen_bloom-7b1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/bloom-7b1_generated_to_sentences/prompt_input_v3_train_gen_bloom-7b1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/bloom-7b1_generated_to_sentences/prompt_input_v4_train_gen_bloom-7b1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/bloom-7b1_generated_to_sentences/prompt_input_v5_train_gen_bloom-7b1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-6.7b_generated_to_sentences/prompt_input_v2_train_gen_opt-6.7b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-6.7b_generated_to_sentences/prompt_input_v3_train_gen_opt-6.7b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-6.7b_generated_to_sentences/prompt_input_v4_train_gen_opt-6.7b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-6.7b_generated_to_sentences/prompt_input_v5_train_gen_opt-6.7b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-13b_generated_to_sentences/prompt_input_v2_train_gen_opt-13b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-13b_generated_to_sentences/prompt_input_v3_train_gen_opt-13b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-13b_generated_to_sentences/prompt_input_v4_train_gen_opt-13b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-13b_generated_to_sentences/prompt_input_v5_train_gen_opt-13b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-30b_generated_to_sentences/prompt_input_v2_train_gen_opt-30b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-30b_generated_to_sentences/prompt_input_v3_train_gen_opt-30b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-30b_generated_to_sentences/prompt_input_v4_train_gen_opt-30b_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/opt-30b_generated_to_sentences/prompt_input_v5_train_gen_opt-30b_to_sentences.csv"]

In [3]:
l_columns = ["prompt_version", "model",
                "Message", "index_prompt", "message_position"]

df_all_messages = pd.DataFrame(columns=l_columns)

for pathfile in l_generated_files:
    path_temp = Path(pathfile)
    name_temp = path_temp.name
    prompt_version = name_temp.split("_")[2]
    model = name_temp.split("_")[5]
    
    df_temp = pd.read_csv(pathfile, index_col=0)
      
    df_temp.insert(0, "prompt_version", prompt_version)
    df_temp.insert(1, "model", model)   
    
    df_all_messages = pd.concat([df_all_messages, df_temp], ignore_index=True)

In [4]:
df_all_messages.head()

,prompt_version,model,Message,index_prompt,message_position
0,v1,gpt-j-6B,Don’t be afraid to reach out to a friend or fa...,0,0
1,v1,gpt-j-6B,"Take care of yourself! Eat healthy, get plenty...",0,1
2,v1,gpt-j-6B,Try to keep your environment smoke free.,0,2
3,v1,gpt-j-6B,Make an appointment with a local physician or ...,0,3
4,v1,gpt-j-6B,Keep a positive attitude! Remember that you ha...,0,4

In [5]:
df_all_messages["model"].unique()

array(['gpt-j-6B', 'bloom-7b1', 'opt-6.7b', 'opt-13b', 'opt-30b'],
      dtype=object)

In [6]:
df_all_messages["model"].unique

<bound method Series.unique of 0        gpt-j-6B
1        gpt-j-6B
2        gpt-j-6B
3        gpt-j-6B
4        gpt-j-6B
           ...
21724     opt-30b
21725     opt-30b
21726     opt-30b
21727     opt-30b
21728     opt-30b
Name: model, Length: 21729, dtype: object>

In [7]:
df_messages_count = df_all_messages.groupby(["prompt_version", "model", "index_prompt"]).count()
df_messages_count.head()

                                       Message  message_position
prompt_version model     index_prompt
v1             bloom-7b1 1                   4                 4
                         2                   3                 3
                         3                   7                 7
                         5                   7                 7
                         6                   3                 3

In [8]:
df_messages_count.reset_index(inplace=True, drop=False)

In [9]:
df_messages_count

     prompt_version      model  index_prompt  Message  message_position
0                v1  bloom-7b1             1        4                 4
1                v1  bloom-7b1             2        3                 3
2                v1  bloom-7b1             3        7                 7
3                v1  bloom-7b1             5        7                 7
4                v1  bloom-7b1             6        3                 3
...             ...        ...           ...      ...               ...
2368             v5   opt-6.7b            95       12                12
2369             v5   opt-6.7b            96        2                 2
2370             v5   opt-6.7b            97        4                 4
2371             v5   opt-6.7b            98       14                14
2372             v5   opt-6.7b            99        2                 2

[2373 rows x 5 columns]

In [10]:
df_messages_count_subset = df_messages_count[["prompt_version", "model",
                                              "index_prompt", "Message"]]

In [11]:
df_messages_count_subset = df_messages_count_subset.rename(columns={"Message": "n_messages"})
df_messages_count_subset

     prompt_version      model  index_prompt  n_messages
0                v1  bloom-7b1             1           4
1                v1  bloom-7b1             2           3
2                v1  bloom-7b1             3           7
3                v1  bloom-7b1             5           7
4                v1  bloom-7b1             6           3
...             ...        ...           ...         ...
2368             v5   opt-6.7b            95          12
2369             v5   opt-6.7b            96           2
2370             v5   opt-6.7b            97           4
2371             v5   opt-6.7b            98          14
2372             v5   opt-6.7b            99           2

[2373 rows x 4 columns]

In [12]:
df_messages_count_subset.head()

  prompt_version      model  index_prompt  n_messages
0             v1  bloom-7b1             1           4
1             v1  bloom-7b1             2           3
2             v1  bloom-7b1             3           7
3             v1  bloom-7b1             5           7
4             v1  bloom-7b1             6           3

In [13]:
df_messages_count_subset.tail()

     prompt_version     model  index_prompt  n_messages
2368             v5  opt-6.7b            95          12
2369             v5  opt-6.7b            96           2
2370             v5  opt-6.7b            97           4
2371             v5  opt-6.7b            98          14
2372             v5  opt-6.7b            99           2

In [14]:
# Create empy dataframe
# Create empy dataframe
N_PROMPTS = 5
N_MODELS = 5
N_INDICES = 100
INITAL_N_MESSAGES = 0

l_versions = ["v1","v2","v3","v4","v5"]
l_versions_df = []

for version in l_versions:
   l_versions_df.extend([version]*N_MODELS*N_INDICES)

l_models = ['gpt-j-6B', 'bloom-7b1', 'opt-6.7b', 'opt-13b', 'opt-30b']

l_models_df = []
for i in range(N_PROMPTS):
   l_model_temp = []
   for model in l_models:
      l_model_temp.extend([model]*N_INDICES)
      
   l_models_df.extend(l_model_temp)

l_indices_df = []
for version in l_versions:
   for model in l_models:
      l_indices_df.extend(np.arange(N_INDICES))

l_n_messages = [0]*N_PROMPTS*N_MODELS*N_INDICES

data = {'prompt_version' : l_versions_df, 
        'model': l_models_df,
        'index_prompt': l_indices_df,
        "n_messages": l_n_messages}
df_prompt_blank = pd.DataFrame(data)
# df.index = df["index_prompt"]
df_prompt_blank = df_prompt_blank.set_index("index_prompt")

In [15]:
df_prompt_blank.head()

             prompt_version     model  n_messages
index_prompt
0                        v1  gpt-j-6B           0
1                        v1  gpt-j-6B           0
2                        v1  gpt-j-6B           0
3                        v1  gpt-j-6B           0
4                        v1  gpt-j-6B           0

In [16]:
df_messages_count_subset_filled = df_messages_count_subset.merge(df_prompt_blank, left_on=["prompt_version","model","index_prompt"],
                                                                right_on=["prompt_version","model","index_prompt"],
                                                                suffixes=('', '_right'), how="outer")
df_messages_count_subset_filled

     prompt_version      model  index_prompt  n_messages  n_messages_right
0                v1  bloom-7b1             1         4.0                 0
1                v1  bloom-7b1             2         3.0                 0
2                v1  bloom-7b1             3         7.0                 0
3                v1  bloom-7b1             5         7.0                 0
4                v1  bloom-7b1             6         3.0                 0
...             ...        ...           ...         ...               ...
2495             v5    opt-30b            23         NaN                 0
2496             v5    opt-30b            60         NaN                 0
2497             v5    opt-30b            64         NaN                 0
2498             v5    opt-30b            67         NaN                 0
2499             v5    opt-30b            99         NaN                 0

[2500 rows x 5 columns]

In [17]:
df_messages_count_subset_filled = df_messages_count_subset_filled.drop(columns = "n_messages_right")
df_messages_count_subset_filled.head()

  prompt_version      model  index_prompt  n_messages
0             v1  bloom-7b1             1         4.0
1             v1  bloom-7b1             2         3.0
2             v1  bloom-7b1             3         7.0
3             v1  bloom-7b1             5         7.0
4             v1  bloom-7b1             6         3.0

In [18]:
df_messages_count_subset_filled = df_messages_count_subset_filled.fillna(value={"n_messages": 0})
df_messages_count_subset_filled.head()

  prompt_version      model  index_prompt  n_messages
0             v1  bloom-7b1             1         4.0
1             v1  bloom-7b1             2         3.0
2             v1  bloom-7b1             3         7.0
3             v1  bloom-7b1             5         7.0
4             v1  bloom-7b1             6         3.0

In [19]:
df_prompt_mean = df_messages_count_subset_filled.groupby("prompt_version").mean()
df_prompt_mean

                index_prompt  n_messages
prompt_version
v1                      49.5       7.392
v2                      49.5       7.542
v3                      49.5       8.034
v4                      49.5      13.760
v5                      49.5       6.730

In [20]:
df_prompt_mean

                index_prompt  n_messages
prompt_version
v1                      49.5       7.392
v2                      49.5       7.542
v3                      49.5       8.034
v4                      49.5      13.760
v5                      49.5       6.730

In [21]:
df_prompt_mean = df_prompt_mean.drop(columns = "index_prompt")
df_prompt_mean = df_prompt_mean.rename(columns = {"n_messages":"n_messages_mean"})
df_prompt_mean

                n_messages_mean
prompt_version
v1                        7.392
v2                        7.542
v3                        8.034
v4                       13.760
v5                        6.730

In [22]:
df_prompt_std = df_messages_count_subset_filled.groupby("prompt_version").std()
df_prompt_std

                index_prompt  n_messages
prompt_version
v1                 28.894979    5.219658
v2                 28.894979    4.730856
v3                 28.894979    5.034634
v4                 28.894979    7.832055
v5                 28.894979    4.502627

In [23]:
df_prompt_std = df_prompt_std.drop(columns = "index_prompt")
df_prompt_std = df_prompt_std.rename(columns = {"n_messages":"n_messages_std"})
df_prompt_std

                n_messages_std
prompt_version
v1                    5.219658
v2                    4.730856
v3                    5.034634
v4                    7.832055
v5                    4.502627

In [24]:
df_prompt_std_err = df_messages_count_subset_filled.groupby("prompt_version").std()/(N_MODELS*N_INDICES)**0.5
df_prompt_std_err

                index_prompt  n_messages
prompt_version
v1                  1.292223    0.233430
v2                  1.292223    0.211570
v3                  1.292223    0.225156
v4                  1.292223    0.350260
v5                  1.292223    0.201364

In [25]:
df_prompt_std_err = df_prompt_std_err.drop(columns = "index_prompt")
df_prompt_std_err = df_prompt_std_err.rename(columns = {"n_messages":"n_messages_std_err"})
df_prompt_std_err

                n_messages_std_err
prompt_version
v1                        0.233430
v2                        0.211570
v3                        0.225156
v4                        0.350260
v5                        0.201364

In [26]:
df_prompt_all = pd.concat([df_prompt_mean, df_prompt_std, df_prompt_std_err], axis = 1)
df_prompt_all

                n_messages_mean  n_messages_std  n_messages_std_err
prompt_version
v1                        7.392        5.219658            0.233430
v2                        7.542        4.730856            0.211570
v3                        8.034        5.034634            0.225156
v4                       13.760        7.832055            0.350260
v5                        6.730        4.502627            0.201364

In [27]:
df_prompt_all["mean_over_std"] = df_prompt_all.eval("n_messages_mean/n_messages_std")

In [28]:
df_prompt_all

,n_messages_mean,n_messages_std,n_messages_std_err,mean_over_std
prompt_version,,,,
v1,7.392,5.219658,0.233430,1.416185
v2,7.542,4.730856,0.211570,1.594215
v3,8.034,5.034634,0.225156,1.595747
v4,13.760,7.832055,0.350260,1.756883
v5,6.730,4.502627,0.201364,1.494683

In [29]:
df_prompt_all.to_csv("/home/pcallec/smoking_cessation_messages/results/vB/v2/stats_generated_messages/stats_generated_messages.csv")

## Filter stats

In [30]:
l_criteria_files = ["/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_gpt-j-6B_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v2_train_gen_gpt-j-6B_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v3_train_gen_gpt-j-6B_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v4_train_gen_gpt-j-6B_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v5_train_gen_gpt-j-6B_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_bloom-7b1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v2_train_gen_bloom-7b1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v3_train_gen_bloom-7b1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v4_train_gen_bloom-7b1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v5_train_gen_bloom-7b1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v2_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v3_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v4_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v2_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v3_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v4_train_gen_opt-6.7b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_opt-13b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v2_train_gen_opt-13b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v3_train_gen_opt-13b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v4_train_gen_opt-13b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v5_train_gen_opt-13b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_opt-30b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v2_train_gen_opt-30b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v3_train_gen_opt-30b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v4_train_gen_opt-30b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v5_train_gen_opt-30b_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv"]

In [31]:
df_initial_temp = pd.read_csv("/home/pcallec/smoking_cessation_messages/results/vB/v2/criteria/prompt_input_v1_train_gen_gpt-j-6B_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv")

In [32]:
df_initial_temp

,Unnamed: 0,Message,index_prompt,message_position,selfBLEU4,app,underscore,less_than_six_words
0,0,Don’t be afraid to reach out to a friend or fa...,0,0,0.076924,False,False,False
1,1,"Take care of yourself! Eat healthy, get plenty...",0,1,0.048415,False,False,False
2,2,Try to keep your environment smoke free.,0,2,0.041535,False,False,False
3,3,Make an appointment with a local physician or ...,0,3,0.022417,False,False,False
4,4,Keep a positive attitude! Remember that you ha...,0,4,0.016196,False,False,False
...,...,...,...,...,...,...,...,...
638,680,"If you do decide to smoke, try to make it a “s...",99,1,0.020866,False,False,False
639,681,If you are worried about how your friends and ...,99,2,0.206757,False,False,False
640,682,Smoking is a cheap vice. If you are having tro...,99,5,0.058001,False,False,False
641,683,"If you are planning to quit smoking, make sure...",99,6,0.079971,False,False,False
642,684,The first week of your quit smoking is the har...,99,7,0.053025,False,False,False

In [33]:
df_initial_temp

,Unnamed: 0,Message,index_prompt,message_position,selfBLEU4,app,underscore,less_than_six_words
0,0,Don’t be afraid to reach out to a friend or fa...,0,0,0.076924,False,False,False
1,1,"Take care of yourself! Eat healthy, get plenty...",0,1,0.048415,False,False,False
2,2,Try to keep your environment smoke free.,0,2,0.041535,False,False,False
3,3,Make an appointment with a local physician or ...,0,3,0.022417,False,False,False
4,4,Keep a positive attitude! Remember that you ha...,0,4,0.016196,False,False,False
...,...,...,...,...,...,...,...,...
638,680,"If you do decide to smoke, try to make it a “s...",99,1,0.020866,False,False,False
639,681,If you are worried about how your friends and ...,99,2,0.206757,False,False,False
640,682,Smoking is a cheap vice. If you are having tro...,99,5,0.058001,False,False,False
641,683,"If you are planning to quit smoking, make sure...",99,6,0.079971,False,False,False
642,684,The first week of your quit smoking is the har...,99,7,0.053025,False,False,False

In [34]:
l_columns = ["prompt_version", "model",
            "Message", "index_prompt", "message_position"]

df_all_messages = pd.DataFrame(columns=l_columns)

for pathfile in l_criteria_files:
    path_temp = Path(pathfile)
    name_temp = path_temp.name
    prompt_version = name_temp.split("_")[2]
    model = name_temp.split("_")[5]
    
    df_temp = pd.read_csv(pathfile, index_col=0)
      
    df_temp.insert(0, "prompt_version", prompt_version)
    df_temp.insert(1, "model", model)   
    
    df_all_messages = pd.concat([df_all_messages, df_temp], ignore_index=True)

In [35]:
df_all_messages

,prompt_version,model,Message,index_prompt,message_position,selfBLEU4,app,underscore,less_than_six_words
0,v1,gpt-j-6B,Don’t be afraid to reach out to a friend or fa...,0,0,0.076924,False,False,False
1,v1,gpt-j-6B,"Take care of yourself! Eat healthy, get plenty...",0,1,0.048415,False,False,False
2,v1,gpt-j-6B,Try to keep your environment smoke free.,0,2,0.041535,False,False,False
3,v1,gpt-j-6B,Make an appointment with a local physician or ...,0,3,0.022417,False,False,False
4,v1,gpt-j-6B,Keep a positive attitude! Remember that you ha...,0,4,0.016196,False,False,False
...,...,...,...,...,...,...,...,...,...
13558,v5,opt-30b,The most important step in quitting smoking is...,97,4,0.072893,False,False,False
13559,v5,opt-30b,"If you are thinking about quitting, you are no...",98,1,0.385181,False,False,False
13560,v5,opt-30b,Keep taking it one hour or one day at a time. ...,98,3,0.017867,False,False,False
13561,v5,opt-30b,Think about the short and long-term consequenc...,98,4,0.009980,False,False,False
13562,v5,opt-30b,Remember your strength and use that moving for...,98,5,0.024534,False,False,False

In [36]:
df_messages_filtered_count = df_all_messages.groupby(["prompt_version", "model", "index_prompt"]).count()
df_messages_filtered_count.head()

                                       Message  message_position  selfBLEU4  \
prompt_version model     index_prompt
v1             bloom-7b1 1                   4                 4          4
                         2                   3                 3          3
                         3                   2                 2          2
                         5                   5                 5          5
                         6                   3                 3          3

                                       app  underscore  less_than_six_words
prompt_version model     index_prompt
v1             bloom-7b1 1               4           4                    4
                         2               3           3                    3
                         3               2           2                    2
                         5               5           5                    5
                         6               3           3                    3

In [37]:
df_messages_filtered_count.reset_index(inplace=True, drop=False)

In [38]:
df_messages_filtered_count

,prompt_version,model,index_prompt,Message,message_position,selfBLEU4,app,underscore,less_than_six_words
0,v1,bloom-7b1,1,4,4,4,4,4,4
1,v1,bloom-7b1,2,3,3,3,3,3,3
2,v1,bloom-7b1,3,2,2,2,2,2,2
3,v1,bloom-7b1,5,5,5,5,5,5,5
4,v1,bloom-7b1,6,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...
2034,v5,opt-30b,93,5,5,5,5,5,5
2035,v5,opt-30b,94,4,4,4,4,4,4
2036,v5,opt-30b,95,6,6,6,6,6,6
2037,v5,opt-30b,97,5,5,5,5,5,5
2038,v5,opt-30b,98,4,4,4,4,4,4

In [39]:
df_messages_filtered_count_subset = df_messages_filtered_count[["prompt_version", "model",
                                                                "index_prompt", "Message"]]

In [40]:
df_messages_filtered_count_subset = df_messages_filtered_count_subset.rename(columns={"Message": "n_messages"})
df_messages_filtered_count_subset

     prompt_version      model  index_prompt  n_messages
0                v1  bloom-7b1             1           4
1                v1  bloom-7b1             2           3
2                v1  bloom-7b1             3           2
3                v1  bloom-7b1             5           5
4                v1  bloom-7b1             6           3
...             ...        ...           ...         ...
2034             v5    opt-30b            93           5
2035             v5    opt-30b            94           4
2036             v5    opt-30b            95           6
2037             v5    opt-30b            97           5
2038             v5    opt-30b            98           4

[2039 rows x 4 columns]

In [41]:
df_messages_filtered_count_subset.head()

  prompt_version      model  index_prompt  n_messages
0             v1  bloom-7b1             1           4
1             v1  bloom-7b1             2           3
2             v1  bloom-7b1             3           2
3             v1  bloom-7b1             5           5
4             v1  bloom-7b1             6           3

In [42]:
df_messages_filtered_count_subset.tail()

     prompt_version    model  index_prompt  n_messages
2034             v5  opt-30b            93           5
2035             v5  opt-30b            94           4
2036             v5  opt-30b            95           6
2037             v5  opt-30b            97           5
2038             v5  opt-30b            98           4

In [43]:
# Create empy dataframe
# Create empy dataframe
N_PROMPTS = 5
N_MODELS = 5
N_INDICES = 100
INITAL_N_MESSAGES = 0

l_versions = ["v1","v2","v3","v4","v5"]
l_versions_df = []

for version in l_versions:
   l_versions_df.extend([version]*N_MODELS*N_INDICES)

l_models = ['gpt-j-6B', 'bloom-7b1', 'opt-6.7b', 'opt-13b', 'opt-30b']

l_models_df = []
for i in range(N_PROMPTS):
   l_model_temp = []
   for model in l_models:
      l_model_temp.extend([model]*N_INDICES)
      
   l_models_df.extend(l_model_temp)

l_indices_df = []
for version in l_versions:
   for model in l_models:
      l_indices_df.extend(np.arange(N_INDICES))

l_n_messages = [0]*N_PROMPTS*N_MODELS*N_INDICES

data = {'prompt_version' : l_versions_df, 
        'model': l_models_df,
        'index_prompt': l_indices_df,
        "n_messages": l_n_messages}
df_prompt_blank = pd.DataFrame(data)
# df.index = df["index_prompt"]
df_prompt_blank = df_prompt_blank.set_index("index_prompt")

In [44]:
df_prompt_blank.head()

             prompt_version     model  n_messages
index_prompt
0                        v1  gpt-j-6B           0
1                        v1  gpt-j-6B           0
2                        v1  gpt-j-6B           0
3                        v1  gpt-j-6B           0
4                        v1  gpt-j-6B           0

In [45]:
df_prompt_blank.shape

(2500, 3)

In [46]:
df_messages_filtered_count_subset_filled = df_messages_filtered_count_subset.merge(df_prompt_blank, left_on=["prompt_version","model","index_prompt"],
                                                                right_on=["prompt_version","model","index_prompt"],
                                                                suffixes=('', '_right'), how="outer")
df_messages_filtered_count_subset_filled

     prompt_version      model  index_prompt  n_messages  n_messages_right
0                v1  bloom-7b1             1         4.0                 0
1                v1  bloom-7b1             2         3.0                 0
2                v1  bloom-7b1             3         2.0                 0
3                v1  bloom-7b1             5         5.0                 0
4                v1  bloom-7b1             6         3.0                 0
...             ...        ...           ...         ...               ...
2495             v5    opt-30b            64         NaN                 0
2496             v5    opt-30b            67         NaN                 0
2497             v5    opt-30b            85         NaN                 0
2498             v5    opt-30b            96         NaN                 0
2499             v5    opt-30b            99         NaN                 0

[2500 rows x 5 columns]

In [47]:
df_messages_filtered_count_subset_filled = df_messages_filtered_count_subset_filled.drop(columns = "n_messages_right")
df_messages_filtered_count_subset_filled.tail()

     prompt_version    model  index_prompt  n_messages
2495             v5  opt-30b            64         NaN
2496             v5  opt-30b            67         NaN
2497             v5  opt-30b            85         NaN
2498             v5  opt-30b            96         NaN
2499             v5  opt-30b            99         NaN

In [48]:
df_messages_filtered_count_subset_filled = df_messages_filtered_count_subset_filled.fillna(value={"n_messages": 0})
df_messages_filtered_count_subset_filled.head()

  prompt_version      model  index_prompt  n_messages
0             v1  bloom-7b1             1         4.0
1             v1  bloom-7b1             2         3.0
2             v1  bloom-7b1             3         2.0
3             v1  bloom-7b1             5         5.0
4             v1  bloom-7b1             6         3.0

In [49]:
df_prompt_filtered_mean = df_messages_filtered_count_subset_filled.groupby("prompt_version").mean()
df_prompt_filtered_mean

                index_prompt  n_messages
prompt_version
v1                      49.5       7.140
v2                      49.5       6.560
v3                      49.5       6.758
v4                      49.5       3.162
v5                      49.5       3.506

In [50]:
df_prompt_filtered_mean

                index_prompt  n_messages
prompt_version
v1                      49.5       7.140
v2                      49.5       6.560
v3                      49.5       6.758
v4                      49.5       3.162
v5                      49.5       3.506

In [51]:
df_prompt_filtered_mean = df_prompt_filtered_mean.drop(columns = "index_prompt")
df_prompt_filtered_mean = df_prompt_filtered_mean.rename(columns = {"n_messages":"n_messages_mean"})
df_prompt_filtered_mean

                n_messages_mean
prompt_version
v1                        7.140
v2                        6.560
v3                        6.758
v4                        3.162
v5                        3.506

In [52]:
df_prompt_filtered_std = df_messages_filtered_count_subset_filled.groupby("prompt_version").std()
df_prompt_filtered_std

                index_prompt  n_messages
prompt_version
v1                 28.894979    6.599356
v2                 28.894979    4.677409
v3                 28.894979    4.433819
v4                 28.894979    3.934809
v5                 28.894979    3.207888

In [53]:
df_prompt_filtered_std = df_prompt_filtered_std.drop(columns = "index_prompt")
df_prompt_filtered_std = df_prompt_filtered_std.rename(columns = {"n_messages":"n_messages_std"})
df_prompt_filtered_std

                n_messages_std
prompt_version
v1                    6.599356
v2                    4.677409
v3                    4.433819
v4                    3.934809
v5                    3.207888

In [54]:
df_prompt_filtered_std_err = df_messages_filtered_count_subset_filled.groupby("prompt_version").std()/(N_MODELS*N_INDICES)**0.5
df_prompt_filtered_std_err

                index_prompt  n_messages
prompt_version
v1                  1.292223    0.295132
v2                  1.292223    0.209180
v3                  1.292223    0.198286
v4                  1.292223    0.175970
v5                  1.292223    0.143461

In [55]:
df_prompt_filtered_std_err = df_prompt_filtered_std_err.drop(columns = "index_prompt")
df_prompt_filtered_std_err = df_prompt_filtered_std_err.rename(columns = {"n_messages":"n_messages_std_err"})
df_prompt_filtered_std_err

                n_messages_std_err
prompt_version
v1                        0.295132
v2                        0.209180
v3                        0.198286
v4                        0.175970
v5                        0.143461

In [56]:
df_prompt_filtered_all = pd.concat([df_prompt_filtered_mean, df_prompt_filtered_std,
                                    df_prompt_filtered_std_err], axis = 1)
df_prompt_filtered_all

                n_messages_mean  n_messages_std  n_messages_std_err
prompt_version
v1                        7.140        6.599356            0.295132
v2                        6.560        4.677409            0.209180
v3                        6.758        4.433819            0.198286
v4                        3.162        3.934809            0.175970
v5                        3.506        3.207888            0.143461

In [57]:
df_prompt_filtered_all["mean_over_std"] = df_prompt_filtered_all.eval("n_messages_mean/n_messages_std")

In [58]:
df_prompt_filtered_all

,n_messages_mean,n_messages_std,n_messages_std_err,mean_over_std
prompt_version,,,,
v1,7.140,6.599356,0.295132,1.081924
v2,6.560,4.677409,0.209180,1.402486
v3,6.758,4.433819,0.198286,1.524194
v4,3.162,3.934809,0.175970,0.803597
v5,3.506,3.207888,0.143461,1.092931

In [59]:
df_prompt_filtered_all.to_csv("/home/pcallec/smoking_cessation_messages/results/vB/v2/stats_filtered_messages/stats_filtered_messages.csv")

# Decoding

## Generated stat

In [60]:
l_generated_files = ["/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v2_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v3_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v4_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v5_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v6_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v7_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/gptj6b_generated_to_sentences/prompt_input_v1_train_gen_gpt-j-6B_decoding_v8_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v2_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v3_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v4_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v5_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v6_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v7_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/bloom-7b1_generated_to_sentences/prompt_input_v1_train_gen_bloom-7b1_decoding_v8_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v2_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v3_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v4_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v5_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v6_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v7_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-6.7b_generated_to_sentences/prompt_input_v1_train_gen_opt-6.7b_decoding_v8_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v2_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v3_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v4_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v5_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v6_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v7_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-13b_generated_to_sentences/prompt_input_v1_train_gen_opt-13b_decoding_v8_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v1_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v2_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v3_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v4_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v5_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v6_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v7_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/vC/opt-30b_generated_to_sentences/prompt_input_v1_train_gen_opt-30b_decoding_v8_to_sentences.csv"]

In [61]:
l_columns = ["decoding_version", "model",
                "Message", "index_prompt", "message_position"]

df_all_messages = pd.DataFrame(columns=l_columns)

for pathfile in l_generated_files:
    path_temp = Path(pathfile)
    name_temp = path_temp.name
    decoding_version = name_temp.split("_")[7]
    model = name_temp.split("_")[5]
    
    df_temp = pd.read_csv(pathfile, index_col=0)
      
    df_temp.insert(0, "decoding_version", decoding_version)
    df_temp.insert(1, "model", model)   
    
    df_all_messages = pd.concat([df_all_messages, df_temp], ignore_index=True)

In [62]:
df_all_messages.head()

,decoding_version,model,Message,index_prompt,message_position
0,v1,gpt-j-6B,A positive attitude and determination will hel...,0,0
1,v1,gpt-j-6B,It is very easy to slip up when you are not on...,0,1
2,v1,gpt-j-6B,You may still find yourself wondering why you ...,0,2
3,v1,gpt-j-6B,Make a plan for your future. How will you feel...,0,3
4,v1,gpt-j-6B,A smoke free lifestyle is important to the peo...,0,4

In [63]:
df_messages_count = df_all_messages.groupby(["decoding_version", "model", "index_prompt"]).count()
df_messages_count.head()

                                         Message  message_position
decoding_version model     index_prompt
v1               bloom-7b1 0                   3                 3
                           1                   1                 1
                           2                   5                 5
                           3                   7                 7
                           4                   7                 7

In [64]:
df_messages_count = df_messages_count.drop(columns="message_position")
df_messages_count

                                         Message
decoding_version model     index_prompt
v1               bloom-7b1 0                   3
                           1                   1
                           2                   5
                           3                   7
                           4                   7
...                                          ...
v8               opt-6.7b  94                  3
                           95                  8
                           97                  7
                           98                  7
                           99                 14

[3392 rows x 1 columns]

In [65]:
df_messages_count.reset_index(inplace=True, drop=False)

In [66]:
df_messages_count

     decoding_version      model  index_prompt  Message
0                  v1  bloom-7b1             0        3
1                  v1  bloom-7b1             1        1
2                  v1  bloom-7b1             2        5
3                  v1  bloom-7b1             3        7
4                  v1  bloom-7b1             4        7
...               ...        ...           ...      ...
3387               v8   opt-6.7b            94        3
3388               v8   opt-6.7b            95        8
3389               v8   opt-6.7b            97        7
3390               v8   opt-6.7b            98        7
3391               v8   opt-6.7b            99       14

[3392 rows x 4 columns]

In [67]:
# Create empy dataframe

N_DECODING = 8
N_MODELS = 5
N_INDICES = 100
INITAL_N_MESSAGES = 0

l_versions = ["v1","v2","v3","v4","v5","v6","v7","v8"]
l_versions_df = []

for version in l_versions:
   l_versions_df.extend([version]*N_MODELS*N_INDICES)

l_models = ['gpt-j-6B', 'bloom-7b1', 'opt-6.7b', 'opt-13b', 'opt-30b']

l_models_df = []
for i in range(N_DECODING):
   l_model_temp = []
   for model in l_models:
      l_model_temp.extend([model]*N_INDICES)
      
   l_models_df.extend(l_model_temp)

l_indices_df = []
for version in l_versions:
   for model in l_models:
      l_indices_df.extend(np.arange(N_INDICES))

l_n_messages = [0]*N_DECODING*N_MODELS*N_INDICES

data = {'decoding_version' : l_versions_df, 
        'model': l_models_df,
        'index_prompt': l_indices_df,
        "n_messages": l_n_messages}
df_prompt_blank = pd.DataFrame(data)
# df.index = df["index_prompt"]
df_prompt_blank = df_prompt_blank.set_index("index_prompt")

In [68]:
df_prompt_blank.shape

(4000, 3)

In [69]:
df_messages_count_subset_filled = df_messages_count.merge(df_prompt_blank, left_on=["decoding_version","model","index_prompt"],
                                                                right_on=["decoding_version","model","index_prompt"],
                                                                suffixes=('', '_right'), how="outer")

In [70]:
df_messages_count_subset_filled

     decoding_version      model  index_prompt  Message  n_messages
0                  v1  bloom-7b1             0      3.0           0
1                  v1  bloom-7b1             1      1.0           0
2                  v1  bloom-7b1             2      5.0           0
3                  v1  bloom-7b1             3      7.0           0
4                  v1  bloom-7b1             4      7.0           0
...               ...        ...           ...      ...         ...
3995               v8    opt-13b            57      NaN           0
3996               v8    opt-13b            70      NaN           0
3997               v8    opt-30b            49      NaN           0
3998               v8    opt-30b            69      NaN           0
3999               v8    opt-30b            99      NaN           0

[4000 rows x 5 columns]

In [71]:
df_messages_filtered_count_subset_filled = df_messages_filtered_count_subset_filled.fillna(value={"n_messages": 0})
df_messages_filtered_count_subset_filled.head()

  prompt_version      model  index_prompt  n_messages
0             v1  bloom-7b1             1         4.0
1             v1  bloom-7b1             2         3.0
2             v1  bloom-7b1             3         2.0
3             v1  bloom-7b1             5         5.0
4             v1  bloom-7b1             6         3.0

In [72]:
df_messages_count_subset_filled = df_messages_count_subset_filled[["decoding_version", "model",
                                              "index_prompt", "Message"]]
df_messages_count_subset_filled.tail()

     decoding_version    model  index_prompt  Message
3995               v8  opt-13b            57      NaN
3996               v8  opt-13b            70      NaN
3997               v8  opt-30b            49      NaN
3998               v8  opt-30b            69      NaN
3999               v8  opt-30b            99      NaN

In [73]:
# change message to n_mesages
df_messages_count_subset_filled = df_messages_count_subset_filled.rename(columns = {"Message":"n_messages"})
df_messages_count_subset_filled

     decoding_version      model  index_prompt  n_messages
0                  v1  bloom-7b1             0         3.0
1                  v1  bloom-7b1             1         1.0
2                  v1  bloom-7b1             2         5.0
3                  v1  bloom-7b1             3         7.0
4                  v1  bloom-7b1             4         7.0
...               ...        ...           ...         ...
3995               v8    opt-13b            57         NaN
3996               v8    opt-13b            70         NaN
3997               v8    opt-30b            49         NaN
3998               v8    opt-30b            69         NaN
3999               v8    opt-30b            99         NaN

[4000 rows x 4 columns]

In [74]:
df_messages_count_subset_filled.shape

(4000, 4)

In [75]:
df_messages_count_subset_filled = df_messages_count_subset_filled.fillna(value={"n_messages": 0})
df_messages_count_subset_filled.tail()

     decoding_version    model  index_prompt  n_messages
3995               v8  opt-13b            57         0.0
3996               v8  opt-13b            70         0.0
3997               v8  opt-30b            49         0.0
3998               v8  opt-30b            69         0.0
3999               v8  opt-30b            99         0.0

In [76]:
df_messages_count_subset_filled.shape

(4000, 4)

In [77]:
df_decoding_mean = df_messages_count_subset_filled.groupby("decoding_version").mean()
df_decoding_mean

                  index_prompt  n_messages
decoding_version
v1                        49.5       7.112
v2                        49.5       3.468
v3                        49.5       2.850
v4                        49.5       3.742
v5                        49.5       6.644
v6                        49.5       3.360
v7                        49.5       3.624
v8                        49.5       6.662

In [78]:
df_decoding_mean = df_decoding_mean.drop(columns = "index_prompt")
df_decoding_mean = df_decoding_mean.rename(columns = {"n_messages":"n_messages_mean"})
df_decoding_mean

                  n_messages_mean
decoding_version
v1                          7.112
v2                          3.468
v3                          2.850
v4                          3.742
v5                          6.644
v6                          3.360
v7                          3.624
v8                          6.662

In [79]:
df_decoding_std = df_messages_count_subset_filled.groupby("decoding_version").std()
df_decoding_std

                  index_prompt  n_messages
decoding_version
v1                   28.894979    4.554662
v2                   28.894979    2.821506
v3                   28.894979    2.489960
v4                   28.894979    3.022865
v5                   28.894979    4.549578
v6                   28.894979    2.831684
v7                   28.894979    3.066828
v8                   28.894979    4.817694

In [80]:
df_decoding_std = df_decoding_std.drop(columns = "index_prompt")
df_decoding_std = df_decoding_std.rename(columns = {"n_messages":"n_messages_std"})
df_decoding_std

                  n_messages_std
decoding_version
v1                      4.554662
v2                      2.821506
v3                      2.489960
v4                      3.022865
v5                      4.549578
v6                      2.831684
v7                      3.066828
v8                      4.817694

In [81]:
df_decoding_std_err = df_messages_count_subset_filled.groupby("decoding_version").std()/(N_MODELS*N_INDICES)**0.5
df_decoding_std_err

                  index_prompt  n_messages
decoding_version
v1                    1.292223    0.203691
v2                    1.292223    0.126182
v3                    1.292223    0.111354
v4                    1.292223    0.135187
v5                    1.292223    0.203463
v6                    1.292223    0.126637
v7                    1.292223    0.137153
v8                    1.292223    0.215454

In [82]:
df_decoding_std_err = df_decoding_std_err.drop(columns = "index_prompt")
df_decoding_std_err = df_decoding_std_err.rename(columns = {"n_messages":"n_messages_std_err"})
df_decoding_std_err

                  n_messages_std_err
decoding_version
v1                          0.203691
v2                          0.126182
v3                          0.111354
v4                          0.135187
v5                          0.203463
v6                          0.126637
v7                          0.137153
v8                          0.215454

In [83]:
df_decoding_all = pd.concat([df_decoding_mean, df_decoding_std,
                                    df_decoding_std_err], axis = 1)
df_decoding_all

                  n_messages_mean  n_messages_std  n_messages_std_err
decoding_version
v1                          7.112        4.554662            0.203691
v2                          3.468        2.821506            0.126182
v3                          2.850        2.489960            0.111354
v4                          3.742        3.022865            0.135187
v5                          6.644        4.549578            0.203463
v6                          3.360        2.831684            0.126637
v7                          3.624        3.066828            0.137153
v8                          6.662        4.817694            0.215454

In [84]:
df_decoding_all["mean_over_std"] = df_decoding_all.eval("n_messages_mean/n_messages_std")
df_decoding_all

,n_messages_mean,n_messages_std,n_messages_std_err,mean_over_std
decoding_version,,,,
v1,7.112,4.554662,0.203691,1.561477
v2,3.468,2.821506,0.126182,1.229131
v3,2.850,2.489960,0.111354,1.144597
v4,3.742,3.022865,0.135187,1.237899
v5,6.644,4.549578,0.203463,1.460355
v6,3.360,2.831684,0.126637,1.186573
v7,3.624,3.066828,0.137153,1.181677
v8,6.662,4.817694,0.215454,1.382819

In [85]:
df_decoding_all.to_csv("/home/pcallec/smoking_cessation_messages/results/vC/stats_generated_messages/stats_generated_messages.csv")

## Filter stats

In [86]:
l_criteria_files = ["/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_gpt-j-6B_decoding_v1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_gpt-j-6B_decoding_v2_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_gpt-j-6B_decoding_v3_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_gpt-j-6B_decoding_v4_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_gpt-j-6B_decoding_v5_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_gpt-j-6B_decoding_v6_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_gpt-j-6B_decoding_v7_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_gpt-j-6B_decoding_v8_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_bloom-7b1_decoding_v1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_bloom-7b1_decoding_v2_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_bloom-7b1_decoding_v3_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_bloom-7b1_decoding_v4_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_bloom-7b1_decoding_v5_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_bloom-7b1_decoding_v6_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_bloom-7b1_decoding_v7_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_bloom-7b1_decoding_v8_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-6.7b_decoding_v1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-6.7b_decoding_v2_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-6.7b_decoding_v3_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-6.7b_decoding_v4_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-6.7b_decoding_v5_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-6.7b_decoding_v6_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-6.7b_decoding_v7_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-6.7b_decoding_v8_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-13b_decoding_v1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-13b_decoding_v2_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-13b_decoding_v3_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-13b_decoding_v4_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-13b_decoding_v5_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-13b_decoding_v6_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-13b_decoding_v7_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-13b_decoding_v8_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-30b_decoding_v1_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-30b_decoding_v2_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-30b_decoding_v3_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-30b_decoding_v4_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-30b_decoding_v5_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-30b_decoding_v6_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-30b_decoding_v7_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv",
                    "/home/pcallec/smoking_cessation_messages/results/vC/criteria/prompt_input_v1_train_gen_opt-30b_decoding_v8_to_sentences_selfbleu4_thr-0.5_criteria_remaining.csv" ]

In [87]:
l_columns = ["decoding_version", "model",
            "Message", "index_prompt", "message_position"]

df_all_messages = pd.DataFrame(columns=l_columns)

for pathfile in l_criteria_files:
    path_temp = Path(pathfile)
    name_temp = path_temp.name
    decoding_version = name_temp.split("_")[7]
    model = name_temp.split("_")[5]
    
    df_temp = pd.read_csv(pathfile, index_col=0)
      
    df_temp.insert(0, "decoding_version", decoding_version)
    df_temp.insert(1, "model", model)   
    
    df_all_messages = pd.concat([df_all_messages, df_temp], ignore_index=True)
df_all_messages

,decoding_version,model,Message,index_prompt,message_position,selfBLEU4,app,underscore,less_than_six_words
0,v1,gpt-j-6B,A positive attitude and determination will hel...,0,0,0.050941,False,False,False
1,v1,gpt-j-6B,It is very easy to slip up when you are not on...,0,1,0.028030,False,False,False
2,v1,gpt-j-6B,You may still find yourself wondering why you ...,0,2,0.036012,False,False,False
3,v1,gpt-j-6B,Make a plan for your future. How will you feel...,0,3,0.072881,False,False,False
4,v1,gpt-j-6B,A smoke free lifestyle is important to the peo...,0,4,0.034107,False,False,False
...,...,...,...,...,...,...,...,...,...
15568,v8,opt-30b,"Get involved in something you enjoy. Exercise,...",98,4,0.018591,False,False,False
15569,v8,opt-30b,Find a trusted friend who can help you resist ...,98,5,0.416075,False,False,False
15570,v8,opt-30b,Talk to your family about your goals to quit s...,98,6,0.078329,False,False,False
15571,v8,opt-30b,Make a list of all the positive changes you wi...,98,7,0.018171,False,False,False
15572,v8,opt-30b,Keep a diary or journal of your thoughts and f...,98,8,0.043026,False,False,False

In [88]:
df_messages_filtered_count = df_all_messages.groupby(["decoding_version", "model", "index_prompt"]).count()
df_messages_filtered_count.head()

                                         Message  message_position  selfBLEU4  \
decoding_version model     index_prompt
v1               bloom-7b1 0                   2                 2          2
                           2                   5                 5          5
                           3                   5                 5          5
                           4                   2                 2          2
                           6                   6                 6          6

                                         app  underscore  less_than_six_words
decoding_version model     index_prompt
v1               bloom-7b1 0               2           2                    2
                           2               5           5                    5
                           3               5           5                    5
                           4               2           2                    2
                           6               6           6                    6

In [89]:
df_messages_filtered_count.reset_index(inplace=True, drop=False)

In [90]:
df_messages_filtered_count

,decoding_version,model,index_prompt,Message,message_position,selfBLEU4,app,underscore,less_than_six_words
0,v1,bloom-7b1,0,2,2,2,2,2,2
1,v1,bloom-7b1,2,5,5,5,5,5,5
2,v1,bloom-7b1,3,5,5,5,5,5,5
3,v1,bloom-7b1,4,2,2,2,2,2,2
4,v1,bloom-7b1,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...
2994,v8,opt-6.7b,94,2,2,2,2,2,2
2995,v8,opt-6.7b,95,6,6,6,6,6,6
2996,v8,opt-6.7b,97,6,6,6,6,6,6
2997,v8,opt-6.7b,98,7,7,7,7,7,7
2998,v8,opt-6.7b,99,6,6,6,6,6,6

In [91]:
df_messages_filtered_count["model"].unique()

array(['bloom-7b1', 'gpt-j-6B', 'opt-13b', 'opt-30b', 'opt-6.7b'],
      dtype=object)

In [92]:
df_messages_filtered_count.query("model	 == 'opt-30b'")

,decoding_version,model,index_prompt,Message,message_position,selfBLEU4,app,underscore,less_than_six_words
261,v1,opt-30b,0,7,7,7,7,7,7
262,v1,opt-30b,1,6,6,6,6,6,6
263,v1,opt-30b,2,3,3,3,3,3,3
264,v1,opt-30b,3,6,6,6,6,6,6
265,v1,opt-30b,4,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...
2909,v8,opt-30b,94,4,4,4,4,4,4
2910,v8,opt-30b,95,7,7,7,7,7,7
2911,v8,opt-30b,96,11,11,11,11,11,11
2912,v8,opt-30b,97,5,5,5,5,5,5
2913,v8,opt-30b,98,9,9,9,9,9,9

In [93]:
df_messages_filtered_count_subset = df_messages_filtered_count[["decoding_version", "model",
                                                                "index_prompt", "Message"]]
df_messages_filtered_count_subset = df_messages_filtered_count_subset.rename(columns={"Message": "n_messages"})

In [94]:
df_messages_filtered_count_subset.head()

  decoding_version      model  index_prompt  n_messages
0               v1  bloom-7b1             0           2
1               v1  bloom-7b1             2           5
2               v1  bloom-7b1             3           5
3               v1  bloom-7b1             4           2
4               v1  bloom-7b1             6           6

In [95]:
df_messages_filtered_count_subset_filled = df_messages_filtered_count_subset.merge(df_prompt_blank, left_on=["decoding_version","model","index_prompt"],
                                                                right_on=["decoding_version","model","index_prompt"],
                                                                suffixes=('', '_right'), how="outer")
df_messages_filtered_count_subset_filled

     decoding_version      model  index_prompt  n_messages  n_messages_right
0                  v1  bloom-7b1             0         2.0                 0
1                  v1  bloom-7b1             2         5.0                 0
2                  v1  bloom-7b1             3         5.0                 0
3                  v1  bloom-7b1             4         2.0                 0
4                  v1  bloom-7b1             6         6.0                 0
...               ...        ...           ...         ...               ...
3995               v8    opt-13b            72         NaN                 0
3996               v8    opt-13b            92         NaN                 0
3997               v8    opt-30b            49         NaN                 0
3998               v8    opt-30b            69         NaN                 0
3999               v8    opt-30b            99         NaN                 0

[4000 rows x 5 columns]

In [96]:
df_messages_filtered_count_subset_filled = df_messages_filtered_count_subset_filled.drop(columns = "n_messages_right")
df_messages_filtered_count_subset_filled.tail()

     decoding_version    model  index_prompt  n_messages
3995               v8  opt-13b            72         NaN
3996               v8  opt-13b            92         NaN
3997               v8  opt-30b            49         NaN
3998               v8  opt-30b            69         NaN
3999               v8  opt-30b            99         NaN

In [97]:
df_messages_filtered_count_subset_filled = df_messages_filtered_count_subset_filled.fillna(value={"n_messages": 0})
df_messages_filtered_count_subset_filled.tail()

     decoding_version    model  index_prompt  n_messages
3995               v8  opt-13b            72         0.0
3996               v8  opt-13b            92         0.0
3997               v8  opt-30b            49         0.0
3998               v8  opt-30b            69         0.0
3999               v8  opt-30b            99         0.0

In [98]:
df_messages_filtered_count_subset_filled

     decoding_version      model  index_prompt  n_messages
0                  v1  bloom-7b1             0         2.0
1                  v1  bloom-7b1             2         5.0
2                  v1  bloom-7b1             3         5.0
3                  v1  bloom-7b1             4         2.0
4                  v1  bloom-7b1             6         6.0
...               ...        ...           ...         ...
3995               v8    opt-13b            72         0.0
3996               v8    opt-13b            92         0.0
3997               v8    opt-30b            49         0.0
3998               v8    opt-30b            69         0.0
3999               v8    opt-30b            99         0.0

[4000 rows x 4 columns]

In [99]:
df_prompt_filtered_mean = df_messages_filtered_count_subset_filled.groupby("decoding_version").mean()
df_prompt_filtered_mean

                  index_prompt  n_messages
decoding_version
v1                        49.5       5.148
v2                        49.5       3.254
v3                        49.5       2.654
v4                        49.5       3.524
v5                        49.5       5.114
v6                        49.5       3.138
v7                        49.5       3.350
v8                        49.5       4.964

In [100]:
df_prompt_filtered_mean = df_prompt_filtered_mean.drop(columns = "index_prompt")
df_prompt_filtered_mean = df_prompt_filtered_mean.rename(columns = {"n_messages":"n_messages_mean"})
df_prompt_filtered_mean

                  n_messages_mean
decoding_version
v1                          5.148
v2                          3.254
v3                          2.654
v4                          3.524
v5                          5.114
v6                          3.138
v7                          3.350
v8                          4.964

In [101]:
df_prompt_filtered_std = df_messages_filtered_count_subset_filled.groupby("decoding_version").std()
df_prompt_filtered_std

                  index_prompt  n_messages
decoding_version
v1                   28.894979    3.117295
v2                   28.894979    2.728438
v3                   28.894979    2.559568
v4                   28.894979    3.008576
v5                   28.894979    3.233871
v6                   28.894979    2.836026
v7                   28.894979    2.905923
v8                   28.894979    3.499600

In [102]:
df_prompt_filtered_std = df_prompt_filtered_std.drop(columns = "index_prompt")
df_prompt_filtered_std = df_prompt_filtered_std.rename(columns = {"n_messages":"n_messages_std"})
df_prompt_filtered_std

                  n_messages_std
decoding_version
v1                      3.117295
v2                      2.728438
v3                      2.559568
v4                      3.008576
v5                      3.233871
v6                      2.836026
v7                      2.905923
v8                      3.499600

In [103]:
df_prompt_filtered_std_err = df_messages_filtered_count_subset_filled.groupby("decoding_version").std()/(N_MODELS*N_INDICES)**0.5
df_prompt_filtered_std_err

                  index_prompt  n_messages
decoding_version
v1                    1.292223    0.139410
v2                    1.292223    0.122019
v3                    1.292223    0.114467
v4                    1.292223    0.134548
v5                    1.292223    0.144623
v6                    1.292223    0.126831
v7                    1.292223    0.129957
v8                    1.292223    0.156507

In [104]:
df_prompt_filtered_std_err = df_prompt_filtered_std_err.drop(columns = "index_prompt")
df_prompt_filtered_std_err = df_prompt_filtered_std_err.rename(columns = {"n_messages":"n_messages_std_err"})
df_prompt_filtered_std_err

                  n_messages_std_err
decoding_version
v1                          0.139410
v2                          0.122019
v3                          0.114467
v4                          0.134548
v5                          0.144623
v6                          0.126831
v7                          0.129957
v8                          0.156507

In [105]:
df_prompt_filtered_all = pd.concat([df_prompt_filtered_mean, df_prompt_filtered_std,
                                    df_prompt_filtered_std_err], axis = 1)
df_prompt_filtered_all

                  n_messages_mean  n_messages_std  n_messages_std_err
decoding_version
v1                          5.148        3.117295            0.139410
v2                          3.254        2.728438            0.122019
v3                          2.654        2.559568            0.114467
v4                          3.524        3.008576            0.134548
v5                          5.114        3.233871            0.144623
v6                          3.138        2.836026            0.126831
v7                          3.350        2.905923            0.129957
v8                          4.964        3.499600            0.156507

In [106]:
df_prompt_filtered_all["mean_over_std"] = df_prompt_filtered_all.eval("n_messages_mean/n_messages_std")

In [107]:
df_prompt_filtered_all

,n_messages_mean,n_messages_std,n_messages_std_err,mean_over_std
decoding_version,,,,
v1,5.148,3.117295,0.139410,1.651432
v2,3.254,2.728438,0.122019,1.192624
v3,2.654,2.559568,0.114467,1.036894
v4,3.524,3.008576,0.134548,1.171318
v5,5.114,3.233871,0.144623,1.581387
v6,3.138,2.836026,0.126831,1.106478
v7,3.350,2.905923,0.129957,1.152818
v8,4.964,3.499600,0.156507,1.418448

In [108]:
df_prompt_filtered_all.to_csv("/home/pcallec/smoking_cessation_messages/results/vC/stats_filtered_messages/stats_filtered_messages.csv")

# Prompt selection ChatGPT

In [109]:
l_generated_files = ["/home/pcallec/smoking_cessation_messages/results/ChatGPT/generated_to_sentences_several/prompt_input_v1_train_gen_ChatGPT_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/ChatGPT/generated_to_sentences_several/prompt_input_v2_train_gen_ChatGPT_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/ChatGPT/generated_to_sentences_several/prompt_input_v3_train_gen_ChatGPT_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/ChatGPT/generated_to_sentences_several/prompt_input_v4_train_gen_ChatGPT_to_sentences.csv",
                     "/home/pcallec/smoking_cessation_messages/results/ChatGPT/generated_to_sentences_several/prompt_input_v5_train_gen_ChatGPT_to_sentences.csv"]

In [110]:
l_columns = ["prompt_version", "Message",
             "index_prompt", "message_position"]

df_all_messages = pd.DataFrame(columns=l_columns)

for pathfile in l_generated_files:
    path_temp = Path(pathfile)
    name_temp = path_temp.name
    prompt_version = name_temp.split("_")[2]
    
    df_temp = pd.read_csv(pathfile, index_col=0)     
    df_temp.insert(0, "prompt_version", prompt_version)
    
    df_all_messages = pd.concat([df_all_messages, df_temp], ignore_index=True)

In [111]:
df_all_messages.head()

,prompt_version,Message,index_prompt,message_position
0,v1,Celebrate your milestones! Every day without s...,0,0
1,v1,Find healthier alternatives to cope with stres...,0,1
2,v1,Surround yourself with a supportive network. L...,0,2
3,v1,Consider joining a support group or seeking pr...,0,3
4,v1,Stay committed to your decision to quit smokin...,0,4

In [112]:
df_messages_count = df_all_messages.groupby(["prompt_version","index_prompt"]).count()
df_messages_count.head()

                             Message  message_position
prompt_version index_prompt
v1             0                   5                 5
               1                   1                 1
               2                  10                10
               3                   8                 8
               4                   9                 9

In [113]:
df_messages_count.reset_index(inplace=True, drop=False)

In [114]:
df_messages_count.head()

  prompt_version  index_prompt  Message  message_position
0             v1             0        5                 5
1             v1             1        1                 1
2             v1             2       10                10
3             v1             3        8                 8
4             v1             4        9                 9

In [115]:
df_messages_count = df_messages_count[["prompt_version","index_prompt","Message"]].rename(columns = {"Message": "avg_n_messages"})
df_messages_count

   prompt_version  index_prompt  avg_n_messages
0              v1             0               5
1              v1             1               1
2              v1             2              10
3              v1             3               8
4              v1             4               9
..            ...           ...             ...
95             v5            15               1
96             v5            16               1
97             v5            17               1
98             v5            18               1
99             v5            19               1

[100 rows x 3 columns]

In [116]:
df_prompts_ChatGPT_mean = df_messages_count.groupby("prompt_version").mean()
df_prompts_ChatGPT_mean.head()

                index_prompt  avg_n_messages
prompt_version
v1                       9.5            3.50
v2                       9.5            9.55
v3                       9.5           10.85
v4                       9.5            4.35
v5                       9.5            1.00

In [117]:
df_prompts_ChatGPT_mean = df_prompts_ChatGPT_mean[["avg_n_messages"]]
df_prompts_ChatGPT_mean.head()

                avg_n_messages
prompt_version
v1                        3.50
v2                        9.55
v3                       10.85
v4                        4.35
v5                        1.00

In [118]:
df_messages_count.groupby("prompt_version").count()

                index_prompt  avg_n_messages
prompt_version
v1                        20              20
v2                        20              20
v3                        20              20
v4                        20              20
v5                        20              20

In [119]:
df_prompts_ChatGPT_stats_stderr = df_messages_count.groupby("prompt_version").std()/df_messages_count.groupby("prompt_version").count()[["avg_n_messages"]]**0.5

In [120]:
df_prompts_ChatGPT_stats_stderr = df_prompts_ChatGPT_stats_stderr[["avg_n_messages"]]

In [121]:
df_prompts_ChatGPT_stats_stderr.head()

                avg_n_messages
prompt_version
v1                    0.745160
v2                    0.587031
v3                    0.493511
v4                    0.350000
v5                    0.000000

In [122]:
df_prompts_ChatGPT_stats = df_prompts_ChatGPT_mean.copy()
df_prompts_ChatGPT_stats["std_err"] = df_prompts_ChatGPT_stats_stderr["avg_n_messages"]

In [123]:
df_prompts_ChatGPT_stats

                avg_n_messages   std_err
prompt_version
v1                        3.50  0.745160
v2                        9.55  0.587031
v3                       10.85  0.493511
v4                        4.35  0.350000
v5                        1.00  0.000000

In [124]:
df_prompts_ChatGPT_stats.to_csv("/home/pcallec/smoking_cessation_messages/results/ChatGPT/comparison_prompt_versions/stats_generated_messages/stats_generated_messages.csv")